h2{
  position:absolute;
  left:0px;
}


a{
  position:absolute;
  left:2700px;
  top: 600px;
  font-family: linotype-didot-headline, serif;
  font-weight: 100;
  font-size: 20px;
  font-style: normal;
  color:#9B0E55;
  display:inline-block;

}


#jump{
  position:absolute;
  left:2500px;
  top: 450px;
}

.arrowcopy{
  position:absolute;
  width:25px;
  left:2660px;
  top:635px;
}

.brokencolumn{
  position: absolute;
  left: 420px;
  top: 30px;
  width:250px;
}


.blackiris{
  width: 200px;
  position: absolute;
  left: 100px;
  top: 400px;
}

.hillwomen{
  width:200px;
  position:absolute;
  left: 650px;
  top: 310px;
}

.pasadena{
  width:200px;
  position:absolute;
  left: 1050px;
  top: 110px;
}

.image5{
  width: 200px;
  position: absolute;
  left: 1100px;
  top: 425px;
}

.image6{
  width: 250px;
  position: absolute;
  left: 1500px;
  top: 150px;
}

.image7{
  width: 300px;
  position: absolute;
  left: 1900px;
  top: 400px;
}

.image8{
  width: 250px;
  position: absolute;
  left: 2200px;
  top: 75px;
}
/*Visit the Gallery link at end */
.visit-gallery-caption a{
  font-family: linotype-didot-headline, serif;
  font-weight: 100;
  font-size: 20px;
  font-style: normal;
  color:#9B0E55;
  display:inline-block;
  position:absolute;
  left:2500px;
  top: 450px;
}


.century{
  font-family: linotype-didot-headline, serif;
  font-weight: 400;
  font-size: 120px;
  font-style: bold;
  color: #2B283C;

  position: absolute;
  left:60px;
  top: 200px;
}

.caption-header{
  font-family: futura-pt, sans-serif;
  font-weight: 200;
  font-style: normal;
  color:#9B0E55;

  position:absolute;
  left:60px;
  top: 335px;
}

.arrow{
  position: absolute;
  width: 30px;
  left: 2560px;
  top: 480px;
}



/* style for horizontal scroll */
* {
    box-sizing: border-box;
}

body, .container {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #F2E7D8;
    height: 100vh;
}

body.with-container {
    display: unset;
    overflow: unset;
}

body.with-container > * {
    margin: 1em;
}

.container {
    display: flex;
    flex: 1;
    min-height: 400px;
    height: 60vh;
}

.block {
    min-width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;

    background: #F2E7D8;
    color: #F2E7D8;
}



.block a {
    color: inherit;
}

/* end horizontal scroll style */





::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

div{
  box-sizing:border-box;
}

body {
  background: #F2E7D8;
}

.horizontal-scroll-wrapper{
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:2000px;
  max-height:2000px;
  margin:0;
  background:#000;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin:right top;
}
.horizontal-scroll-wrapper > div{
  display:block;
  padding:5px;
  background:#fff;
  transform:rotate(90deg);
  transform-origin: right top;
}


.rectangles{
  top:100px;
  padding:100px 0 0 0;
}
.rectangles > div{
  width:640px;
  height:200px;
  margin:50px 10px;
  padding:5px;
  background:#fff;
  transform:rotate(90deg) translateY(80px);
  transform-origin: right top;
}






.prompt {
  position: fixed;
  width: 100%;
  text-align: center;
  line-height: 114px;
  font-family: Georgia;
  color: #666;
}

.reveal {
  opacity: .85;
  display: block;
  pointer-events: auto;
  visibility: visible;
}

.hamburger-shell {
  margin: 0;
  position: fixed;
  overflow: hidden;
  width: 70px;
  height: 100px;
  overflow: auto;
  left: calc(100% - 100px);
  top: 20px;
  cursor: pointer;
}

.top, .middle{
  position: absolute;
  width: 62px;
  height: 10px;
  background-color: black;
  transition: all 350ms ease-in-out;
  top: 20px;
}

.middle {
  top: 40px;
}

#menu {
  position: fixed;
  left: calc(100% - 292px);
  top: 10px;
  color: black;
  display: none;
  margin: 120px 30px;
  text-decoration: none;
  font-family: linotype-didot-headline, serif;
  font-weight: 100;
  font-size: 20px;
  text-transform: uppercase;
  color: #2B283C;
  padding: 24px;
  width: 200px;
  text-align: right;
}

#menu a li {
  text-decoration: none!important;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid black;
  list-style: none;
  color: #2B283C;
  transition: all 150ms ease;
}

#menu a li:hover {
  color: #00abff;
  padding-right: 3px;
}

#menu a li:hover:after {
}



#menu a {
  text-decoration: none;
}

.rotate {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  top: 30px;
  background-color: red;
  height: 2px;
}

.rotate-back {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  top: 30px;
  background-color: red;
  height: 2px;
}

.top {
-webkit-animation-delay: 100ms;
}

.middle {
-webkit-animation-delay: 250ms;
}

.bottom {
  -webkit-animation-delay: 400ms;
}

.menu-name {
  font-family: linotype-didot-headline, serif;
  font-weight: 900;
  color: black;
  font-size: 11.5px;
  text-decoration: none;
  position: absolute;
  top: 56px;
  left: -1px;
  transition: all 350ms;
}

.bump {
  top: 64px;
  color: red;
}

.responsive-box {
  background-color: #ddd;
  margin: 2%;
  float: left;
}

.box-1 {
  width: 96%;
  height: 300px;
}

.box-2, .box-3, .box-4 {
  width: 29.333%;
  height: 140px;
}

.box-5 {
  width: 62.666%;
  height: 492px;
}

.header {
  width: 100%;
  height: 120px;
}

.par-1, .par-2, .par-3 {
  width: 70%;
  margin: 1% 2%;
  background-color: #888;
  height: 16px;
  float: left;
}

.par-2 {
  width: 56%;
}

.par-3 {
  width: 64%;
}